# .NET Core
# Ignore build results
bin/
obj/

# User-specific files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.wixpdb

# Windows Installer files
*.vspscc
